<div class="title">takeWhile</div>
<div class="info">To compare both arguments of takeWhile follow the steps:</div>
<div class="info">
  1 - create counter1$ which is interval of 300 which takeWhile is used to take
  values less than 4
</div>
<div class="info">2 - To log taken values log them after takeWhile</div>
<div class="info">3 - At the end log a message that counter1$ completed.</div>
<div class="info">
  Do the same for counter2$ and for 2nd argument of takeWhile pass true.
</div>
<div class="info">
  Execute two counters synchronously. and at the end log a message that whole
  stream completed.
</div>
<div class="info">Note the difference between two counters</div>
<app-terminal></app-terminal>
