:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  font-weight: 800;
  margin-bottom: 1rem;
  }
  
  .info {
    margin-bottom: 1rem;
  }

  .indent {
    padding-left: 1rem;
  }