.header {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 8px 0;
  background: rgb(218, 190, 63);
  color: rgb(70, 44, 164);
  font-size: large;
  margin-bottom: 4px;
}

.clock {
position: absolute;
right: 0;
padding-right: 16px;
}