.toolbar {
  display: flex;
  flex: 1;
  justify-content: center;
  border: 1px solid rgba(228, 161, 161, 0.357);
  border-radius: 4px;
  padding: 2px;
}

.button {
  border: 1px solid rgba(114, 59, 59, 0.357);
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  background: rgba(178, 177, 242, 0.467);
  margin: 0 4px;;
}