<app-page-options
  [options]="options"
  [action]="onOptionClick"
  [selected]="selectedOption$ | async"
></app-page-options>
<div class="flex-row">
  <ng-container [ngSwitch]="selectedOption$ | async">
    <ng-container *ngSwitchCase="'All'">
      <div class="flex-col">
        <ol *ngIf="stockPrices$ | async as stocks">
          <li
            *ngFor="let stock of stocks"
            class="stock-item"
            (click)="onStockClicked(stock)"
          >
            <span class="symbol">{{ stock.symbol }}:</span>
            <span class="price">{{ stock.price }}</span>
          </li>
        </ol>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'Map'">
      <ol *ngIf="stockPricesMapped$ | async as stocks">
        <li
          *ngFor="let stock of stocks"
          class="stock-item"
          [class.positive]="stock.changes"
          [class.negative]="stock.changes === false"
          (click)="onStockClicked(stock)"
        >
          <span class="symbol">{{ stock.symbol }}:</span>
          <span class="price">{{ stock.price }}</span>
        </li>
      </ol>
    </ng-container>
    <ng-container *ngSwitchCase="'BehaviorSubject'">
      <ng-container *ngTemplateOutlet="filterButtons"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'switchMap'">
      <ng-container *ngTemplateOutlet="filterButtons"></ng-container>
      <div class="flex-col">
        <ol *ngIf="filteredStocks$ | async as stocks">
          <li
            *ngFor="let stock of stocks"
            class="stock-item"
            [class.positive]="stock.changes"
            [class.negative]="stock.changes === false"
            (click)="onStockClicked(stock)"
          >
            <span class="symbol">{{ stock.symbol }}:</span>
            <span class="price">{{ stock.price }}</span>
          </li>
        </ol>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'combineLatest'">
      <ng-container
        *ngTemplateOutlet="combine; context: { clickHandler: onStockClicked }"
      ></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'concat/concatMap'">
      <ng-container
        *ngTemplateOutlet="
          combine;
          context: { clickHandler: onRealStockClicked }
        "
      ></ng-container>
      <app-realtime-price
        [stockRealtime$]="stockRealtime$"
      ></app-realtime-price>
    </ng-container>
    <ng-container *ngSwitchCase="'tap/filter'">
      <ng-container
        *ngTemplateOutlet="
          combine;
          context: { clickHandler: onFilteredStockClick }
        "
      ></ng-container>
      <div class="flex-clo">
        <div class="ml4">
          <label for="pricing">Price range: </label>
          <div class="current-value">{{ currentRange$ | async }}</div>
          <input
            class="range"
            type="range"
            name="pricing"
            id="pricing"
            [min]="minRange"
            [max]="maxRange"
            step="1"
            [value]="currentRange$ | async"
            (input)="onRangeChange($event)"
          />
          <div class="range-labels">
            <span>{{ minRange }}</span>
            <span>{{ maxRange }}</span>
          </div>
        </div>
        <div class="flex-col ml4 mt4">
          <label for="sector-select">Sectors: </label>
          <select
            class="select-sector"
            id="sector-select"
            (change)="onSectorChange($event)"
          >
            <option value="''">Select a sector</option>
            <option *ngFor="let sector of allSectors$ | async" [value]="sector">
              {{ sector }}
            </option>
          </select>
        </div>
        <div *ngIf="!(selectedFilteredStock$ | async)" class="ml4 mt2 sector-error">
          Not selected / Sector doesn't match
        </div>
        <div *ngIf="selectedFilteredStock$ | async as stock" class="ml4 mt2 sector-info">
          <div class="">Symbol: {{ stock.symbol }}</div>
          <div class="">Price: {{ stock.price }}</div>
          <div class="">Sector: {{ stock.sector }}</div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div class="flex-col mla">
    <app-stock-name [stockName]="stockName"></app-stock-name>
    <app-stock-stats [stockStat]="stockStat"></app-stock-stats>
    <app-stock-top10 [top10Stocks$]="top10Stocks$"></app-stock-top10>
  </div>
</div>

<ng-template #filterButtons>
  <app-page-options
    [options]="filters"
    [action]="onFilterClick"
    [direction]="'column'"
    [selected]="selectedFilter$ | async"
  ></app-page-options>
</ng-template>

<ng-template #combine let-clickHandler="clickHandler">
  <div class="flex-col all-stocks">
    <ol *ngIf="allStocks$ | async as allStocks">
      <li
        *ngFor="let stock of allStocks"
        class="stock-item"
        [class.positive]="stock.changes"
        [class.negative]="stock.changes === false"
        (click)="clickHandler ? clickHandler(stock) : undefined"
      >
        <span class="symbol">{{ stock.symbol }}:</span>
        <span class="price">{{ stock.price }}</span>
      </li>
    </ol>
  </div>
</ng-template>
