.stock-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 10rem;
}

.symbol {
  text-align: left;
}

.price {
  text-align: right;
}

.positive {
  background: rgba(178, 249, 178, 0.624);
}

.negative {
  background: rgba(205, 131, 131, 0.624);
}

.range {
  width: 20rem;
  margin-top: 8px;
}

.range-labels {
  display: flex;
  justify-content: space-between;
}

.range-labels span {
  font-size: 14px;
}

.current-value {
  width: 20rem;
  text-align: center;
}

.all-stocks {
  width: 10rem;
}
