<app-page-options [options]="options" [action]="action"></app-page-options>
<div class="flex-row">
  <div class="flex-col">
    <ol *ngIf="stockPrices$ | async as stocks">
      <li
        *ngFor="let stock of stocks"
        class="stock-item"
        (click)="onStockClicked(stock)"
      >
        <span class="symbol">{{ stock.symbol }}:</span>
        <span class="price">{{ stock.price }}</span>
      </li>
    </ol>
  </div>
  <div class="flex-col mla">
    <app-stock-name [stockName]="stockName"></app-stock-name>
    <app-stock-stats [stockStat]="stockStat"></app-stock-stats>
  </div>
</div>
