* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
}

.border {
  border: 1px solid white;
}
.border2 {
  border: 1px solid red;
}
.border3 {
  border: 1px solid yellow;
}
.border4 {
  border: 1px solid blue;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.mba {
  margin-bottom: auto;
}

.mla {
  margin-left: auto;
}

.ml4 {
  margin-left: 4rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt4 {
  margin-top: 4rem;
}

.sector-error {
  background: rgba(202, 152, 152, 0.494);
  padding: 1rem;
}